---
layout: default
title: Home
---
<head>
<style>
* {
  box-sizing: border-box;
}

ul li { margin-bottom: 10px; }

.img-container-full {
  float: left;
  width: 100.00%;
  padding: 5px;
}

.img-container-center-full {
  float: center;
  width: 100.00%;
  padding: 10px;
  padding-left: 60px;
}

.img-container-center-full-shift {
  float: center;
  width: 100.00%;
  padding: 5px;
  padding-left: 225px;
}

.img-container-wide {
  float: left;
  width: 50.00%;
  padding: 5px;
}

.img-container {
  float: left;
  width: 25.00%;
  padding: 5px;
}
/*used to say float: left and width: 47*/ 
/*used to float: center and 88 width*/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>

<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I am a final year PhD Candidate in Biomedical Informatics at Stanford University's department of Biomedical Data Science. My work centers around building <b>data copilots</b> — AI systems that augment our capabilities in (1) making rational and evidence-based decisions, (2) discovering and acquiring knowledge, and (3) generating new data given our design preferences. I am especially motivated to develop data copilots to understand the natural world, particularly for biological and physical systems. I am extremely fortunate to be co-advised and mentored by <a href="http://mallicklab.stanford.edu/" target="_blank">Parag Mallick</a> (Radiology) and <a href="https://cs.stanford.edu/~chrismre/" target="_blank">Christopher Ré</a> (CS).
  </p>

  <p>
  <b>I am on the industrial job market</b> for ML Research Scientist roles, particularly for Interpretability/Safety, AI4Science, AI4Bio, or AI4Med teams. Please feel free to contact me about opportunities!
  </p>

  <p> 
  <b>My name</b> is most similarly pronounced as Batman's city of residence, "Gotham" (i.e. <i>GAW-thum</i>). There are many intonation variants for my Sanskrit-originating name across India, but this pronunciation is the closest to the North Indian variant. I also go by "Machi" if that's easier. 
  </p>
</div>



<div class="docs-section" id="research">
  <h4>Research</h4>
    <p>
    My research focuses on building data copilots, or AI systems that have the following interrelated capabilities:

    <ol>
    <li><b>Rational & evidence-based decision-making</b> — pinpointing <i>what</i> is important within inputs for a model's outputs (predictions & generations), as well as <i>why and how</i> those outputs were created. Our work has built automated verification systems with synthetic data <u>[ECCV'22]</u> and new equippable, LLM-inspired architectural blocks that reveal AI evidence and rationale in <font color="#03a39e">text documents</font>, <font color="#cf44db">pathology images</font>, and <font color="#8337ed">protein structures</font> <u>[IMLH'23,ICML'24]</u>.</li>
    <p></p>
    <div class="clearfix">
      <div class="img-container-center-full">
          <img src="assets/profile-pics/prospect_prot.png" alt="Proteins" style="width:90%">
      </div>
    </div>
    <p></p>
    <li><b>Knowledge discovery & acquisition</b> — identifying new information and ensuring it is human-comprehensible. We have used capability (1) in scientific deployments to discover tumor regions associated with aggressive cancers via <font color="#425fff">spatial proteomics</font> data and single-cell encoders <u>[upcoming preprint]</u>. We are also making deployments in global health, using adapted LLMs to mine <font color="#03a39e">tipline documents</font> to combat human labor trafficking in the Amazon Rainforest.</li>
    <p></p>
    <div class="clearfix">
      <div class="img-container-center-full-shift">
          <img src="assets/profile-pics/cell-graph.png" alt="Cell graph" style="width:60%">
      </div>
    </div>
    <p></p>
    <li><b>Controlled generation</b> — using human knowledge and preferences for aligned and safe data generation. Our approaches guide models using weak signals and domain knowlegde, with applications in <font color="#03a39e">natural language</font>, <font color="#d4d4d4">chess gameplay</font>, and <font color="#8337ed">protein sequence</font> design.</li>
    </ol> 

    I work with <b>foundation models</b> (FMs) spanning multimodal embedding models to autoregressive models (LLMs, agents). We have found success in fostering capabilities (1)-(3) by building <b>compound AI systems</b> that adapt FMs for novel forms of inference & reasoning. Crucially, these systems must be <b>data- and time-efficient</b> to reason over high-dimensional unstructured data often found in biomedicine. Finally, our methods aim to increase AI <b>interpretability</b> to determine what our AI systems have learned and how they function. 
    </p>
</div>

<!-- My PhD thesis work focused on capabilities (1) and (2) [ECCV'22, ICML'24] and my current work focuses on capability (3). -->

<!-- We've found that (1-3) are all related. -->

<!--  — geometric priors & inductive biases, new forms of convolution and attention, associative memory, etc. in the face of weak supervisory signals.  -->

<!-- (a) expands our understanding of scientific and biomedical data and (b) ultimately incorporates this understanding into synthetic data generation.  -->
<!-- <p>
    The goals of data copilots are interrelated: by unlocking (1)My research interests This sometimes involves paradigm shifts in engineering to meet the challenges of immensely large models, high-dimensional unstructured data (e.g. text corpora, time-series, images, graphs), coarse labels, etc. To realize these goals, my work attempts to span the spectrum of AI4science:

  To augment human understanding, we require AI-substantiated "evidence" for both clinical decision-making and for (re)discovering phenomena in high-dimensional settings like protein function prediction and tissue biology. Relatedly, this understanding can help guide our design and generation of new data, such as synthetic molecules for drug development. 
  </p>

 -->

<!-- While my thesis research focuses on interpretable and explainable AI in the context of high-dimensional biomedical data, I've been privileged to work in several methods and application domains. -->

    <!-- <li>Characterizing agentic workflows involving human- and AI-derived sequential decisions (e.g. chess games, longitudinal data streams in healthcare)</li> -->
    <!-- <li>VLM-driven zero-shot segmentation with long text captions</li> -->
    <!-- <li>Fact-checking multimodal FMs to improve image tagging & retrieval</li> -->

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Preprints & Publications</h4>
  <p>Stay tuned for future publications on: 
  <ul>
    <li>A multimodal FM that is trained on public data and passes medical board exams</li>
    <li>A review on spatial statistics for spatial biology</li>
    <li>Data copilots for spatial biology: <i>in silico</i> discovery of biomarkers of aggressive cancers</li>
    <li>A call to action for evidence-based and rational AI systems in biomedicine</li>
    <li>A new form of controlled generation that incorporates weak supervision, motivated by chess and protein design</li>
    <li>Satellite imagery FMs adapted to predict measures of maternal health & child mortality in Earth's remote villages</li>
    <li>Satellite imagery FMs adapted for few-shot detection of human labor trafficking encampments in the Amazon Rainforest</li>
    <li>LLMs adapted to extract concepts associated with the construction of human labor trafficking compounds</li>
  </ul> 
  <br/><br/>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <!-- <sup>‡</sup> indicates equal contribution.<br/> -->
  <!-- <sup>§</sup> indicates authorship associated with consortium. -->
  </p>
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <!-- <li><div class="button" data-ref="#papers-all">All</div></li> -->
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

   <!--  <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div> -->

  </div>

</div>


<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <!-- <p>More details (projects, collaborators, talks, academic service, relevant coursework) can be found on my <a href={{ "/assets/cv/CV_stanford_oct22.pdf" | prepend: site.baseurl }} target="_blank">CV</a> (updated Oct 2022) and <a href="https://www.linkedin.com/in/gmachiraju/" target="_blank">LinkedIn page</a>.</p> -->

  <p>More details (projects, collaborators, talks, academic service, relevant coursework) can be found on my <a href="https://drive.google.com/file/d/1T_ILR92qoyIwxjtb1pn1d1TlVPxRzEEl/view?usp=sharing" target="_blank">CV</a> and <a href="https://www.linkedin.com/in/gmachiraju/" target="_blank">Linkedin page</a>.</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


 <!-- ========== PROJECTS ==========  -->
<div class="docs-section" id="process">
  <h4>Process</h4>
  <p> 
    <b>Fun:</b> On weekends, you can find me and my partner grabbing some brunch and sun in urban-suburban East Bay. Or we're unplugging at one of California's numerous regional, state, or national parks to spend time on the water and trails. Outside of hiking and camping, my hobbies include painting, gardening, and hosting regular themed dinner and cocktail parties. I also love city trekking with friends and popping into cafés and roasteries, museums, used bookstores (hunting for vintage maths sections), and outdoor pubs with live music sessions. Reach out if you'd like to grab a coffee!
  </p>
  <p>
    <b>Design:</b> One of my favorite aspects of research is thinking about aesthetic and design when communicating technical ideas. This drive to understand ideas by visually communicating them (often to myself) sparked as a dyslexic Maths undergraduate. Despite my numerous interests in Maths, I struggled to parse and conceptualize blocks of textual abstraction in <a href="https://en.wikipedia.org/wiki/History_of_mathematics#Modern">modern mathematical presentation</a>, typical of standard teaching materials. I thus relied heavily on intuition and visual proofs as mental anchors. Thanks in part to training as a <a href="https://dschool.stanford.edu/classes/creativity-in-research-scholars">CIR Scholar</a> at Stanford's <a href="https://dschool.stanford.edu/">Hasso Plattner Institute of Design</a>, I cartoon-ify almost everything I work on and will carve out time to reflect on, mock up, and refine any discussed concepts.
  </p> 
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <!-- <li><div class="button" data-ref="#projects-all">All</div></li> -->
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>




<!-- <div class="docs-section" id="process">
  <h4>Process</h4>
  <p>
    One of my favorite aspects of research is thinking about aesthetic and design when communicating technical ideas. This drive to understand ideas by visually communicating them (often to myself) sparked as a dyslexic Maths undergraduate. After struggling to parse and conceptualize abstraction in <a href="https://medium.com/thesociablesolipsist/what-is-modern-mathematics-for-the-non-mathematician-4c59981de487">modern mathematical presentation</a>, I relied heavily on intuition and visual proofs as mental anchors. Thanks in part to training as a <a href="https://dschool.stanford.edu/classes/creativity-in-research-scholars">CIRS Scholar</a> at Stanford's <a href="https://dschool.stanford.edu/">Hasso Plattner Institute of Design</a>, I spend Friday afternoons reflecting on discussed concepts and drawing, refining my graphic design skills for research. 
  </p> -->
    <!-- <div class="container">
    <div class="box">
      <img src="https://source.unsplash.com/1000x800">
      <span>CSS</span>
    </div>
    <div class="box">
      <img src="https://source.unsplash.com/1000x802">
      <span>Image</span>
    </div>
    <div class="box">
      <img src="https://source.unsplash.com/1000x804">
      <span>Hover</span>
    </div>
    <div class="box">
      <img src="https://source.unsplash.com/1000x806">
      <span>Effect</span>
    </div>
  </div> -->
<!-- </div> -->


<div class="docs-section" id="template">
    <h4>Acknowledgement</h4>
    <p>
    My graduate training and research have been graciously funded via the NIH (BD2K, NLM), the Stanford Data Science Institute (<a href="https://datascience.stanford.edu/programs/stanford-data-science-scholars-program" target="_blank">Data Science Scholarship</a>), the International Alliance for Cancer Early Detection (<a href="https://canarycenter.stanford.edu/aced/grants/aced-graduate-fellowship.html" target="_blank">Canary-ACED Graduate Fellowship</a>), and Stanford's <a href="https://hai.stanford.edu/" target="_blank">Institute for Human-Centered Artificial Intelligence (HAI)</a>. 
    </p>
    <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>. Some stylisitc alterations were made with inspiration from <a href="https://github.com/thashim/thashim.github.io">Tatsunori Hashimoto</a>.
  </p>
</div>
